
.conteudo-1-do-site {
    justify-content: space-between;
    align-items: center;

}

.conteudo-1-do-site article p,
.conteudo-1-do-site article h1 {
    color: #fff;

}

.conteudo-1-do-site article h1, 
.conteudo-1-do-site article p, 
.conteudo-1-do-site figcaption img {
    margin-bottom: 20px;
}

.conteudo-1-do-site article h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 100%; 
    
}

.conteudo-1-do-site article h2 {
    font-size: 1.2rem;
    line-height: 150%;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 10px;
    
}

.conteudo-1-do-site article p {
    font-size: 1rem;
    line-height: 150%;

}

.conteudo-1-do-site figcaption img {
    width: 700px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.conteudo-1-do-site article a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 100%;
    transition: all 0.3s ease-in-out;
}
.conteudo-1-do-site article a:hover {
    color: #f00;
    /* text-decoration: underline; */
}