/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* componentes */
@import "./header.css";
@import "./botao.css";
@import "./main.css";
@import "./footer.css";



/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
}
body {
    background-image: linear-gradient(to bottom, #37f503b8, #25a103c3, #0a2b0076);
    /* background-image: url('../imagens/abstract-digital-art-neon-neon-glow-1539439-wallhere.com.jpg'); */
    background-repeat: no-repeat;
    /* background-position: center bottom; */
    background-size: contain;
    
}

.container {
    width: 1024px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}